In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing Iris Dataset.........................
from sklearn.datasets import load_iris
dataset=load_iris()

<h3> <i> Basic Cleaning Steps ................... </h3>

In [3]:
dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [4]:
dataset['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [5]:
#  Creating a DataFrame.......
iris_data_complete=pd.DataFrame(dataset['data'],columns=[i.replace(" (cm)",'').strip().replace(' ','_') for i in dataset['feature_names']])
iris_data_complete['species_label']=dataset['target']
species=[]
for i in dataset['target']:
        species.append(dataset['target_names'][i])
iris_data_complete['species']=species
iris_data_complete.head()

   sepal_length  sepal_width  petal_length  petal_width  species_label species
0           5.1          3.5           1.4          0.2              0  setosa
1           4.9          3.0           1.4          0.2              0  setosa
2           4.7          3.2           1.3          0.2              0  setosa
3           4.6          3.1           1.5          0.2              0  setosa
4           5.0          3.6           1.4          0.2              0  setosa

In [6]:
#  Complete Avaiable Dataset............
iris_data_complete.shape

(150, 6)

In [7]:
#  Check if dataset is balanced or not...................
iris_data_complete['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [8]:
iris_data_plot=iris_data_complete.copy()
del iris_data_plot['species_label']

In [9]:
iris_setosa=iris_data_complete.loc[iris_data_complete['species']=='setosa']
iris_verginica=iris_data_complete.loc[iris_data_complete['species']=='virginica']
iris_versicolor=iris_data_complete.loc[iris_data_complete['species']=='versicolor']

### Basic Statistical Measure

In [11]:
iris_data_plot.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
iris_setosa.describe()

       sepal_length  sepal_width  petal_length  petal_width  species_label
count      50.00000    50.000000     50.000000    50.000000           50.0
mean        5.00600     3.428000      1.462000     0.246000            0.0
std         0.35249     0.379064      0.173664     0.105386            0.0
min         4.30000     2.300000      1.000000     0.100000            0.0
25%         4.80000     3.200000      1.400000     0.200000            0.0
50%         5.00000     3.400000      1.500000     0.200000            0.0
75%         5.20000     3.675000      1.575000     0.300000            0.0
max         5.80000     4.400000      1.900000     0.600000            0.0

In [14]:
iris_versicolor.describe()

       sepal_length  sepal_width  petal_length  petal_width  species_label
count     50.000000    50.000000     50.000000    50.000000           50.0
mean       5.936000     2.770000      4.260000     1.326000            1.0
std        0.516171     0.313798      0.469911     0.197753            0.0
min        4.900000     2.000000      3.000000     1.000000            1.0
25%        5.600000     2.525000      4.000000     1.200000            1.0
50%        5.900000     2.800000      4.350000     1.300000            1.0
75%        6.300000     3.000000      4.600000     1.500000            1.0
max        7.000000     3.400000      5.100000     1.800000            1.0

In [13]:
iris_verginica.describe()

       sepal_length  sepal_width  petal_length  petal_width  species_label
count      50.00000    50.000000     50.000000     50.00000           50.0
mean        6.58800     2.974000      5.552000      2.02600            2.0
std         0.63588     0.322497      0.551895      0.27465            0.0
min         4.90000     2.200000      4.500000      1.40000            2.0
25%         6.22500     2.800000      5.100000      1.80000            2.0
50%         6.50000     3.000000      5.550000      2.00000            2.0
75%         6.90000     3.175000      5.875000      2.30000            2.0
max         7.90000     3.800000      6.900000      2.50000            2.0

In [20]:
print("Means:")
print(np.mean(iris_setosa["petal_length"]))
# Mean with a single outlier value........
print(np.mean(np.append(iris_setosa["petal_length"],50)))
print(np.mean(iris_verginica["petal_length"]))
print(np.mean(iris_versicolor["petal_length"]))

Means:
1.4620000000000002
2.4137254901960787
5.552
4.26

In [23]:
print("Standard Deviation:")
print(np.std(iris_setosa["petal_length"]))
# Mean with a single outlier value........
print(np.std(np.append(iris_setosa["petal_length"],50)))
print(np.std(iris_verginica["petal_length"]))
print(np.std(iris_versicolor["petal_length"]))

Standard Deviation:
0.17191858538273286
6.731868010072429
0.5463478745268441
0.4651881339845204

In [24]:
print("Median:")
print(np.median(iris_setosa["petal_length"]))
# Mean with a single outlier value........
print(np.median(np.append(iris_setosa["petal_length"],50)))
print(np.median(iris_verginica["petal_length"]))
print(np.median(iris_versicolor["petal_length"]))

Median:
1.5
1.5
5.55
4.35

In [27]:
print("Quantiles:")
print(np.percentile(iris_setosa["petal_length"], np.arange(0,100,25)))
print(np.percentile(iris_verginica["petal_length"], np.arange(0,100,25)))
print(np.percentile(iris_versicolor["petal_length"], np.arange(0,100,25)))

Quantiles:
[1.    1.4   1.5   1.575]
[4.5   5.1   5.55  5.875]
[3.   4.   4.35 4.6 ]

In [29]:
print("90th Percentile:")
print(np.percentile(iris_setosa["petal_length"], 90))
print(np.percentile(iris_verginica["petal_length"],90))
print(np.percentile(iris_versicolor["petal_length"], 90))

90th Percentile:
1.7
6.31
4.8

In [30]:
print("Median Absolute Deviation:")
from statsmodels import robust
print(robust.mad(iris_setosa["petal_length"]))
print(robust.mad(iris_verginica["petal_length"]))
print(robust.mad(iris_versicolor["petal_length"]))

Median Absolute Deviation:
0.14826022185056031
0.6671709983275211
0.5189107764769602