In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import dtale

In [4]:
import os
import platform

In [14]:
#  Setting Path to Dataset
if platform.system().lower().__contains__('windows'):
    BASE_PATH_TO_CODE_REPOSITORY=(os.sep).join(os.getcwd().split(os.sep)[:os.getcwd().split(os.sep).index('Code Repository')+1])
    BASE_PATH_TO_DATASETS=os.path.join(BASE_PATH_TO_CODE_REPOSITORY,'External_Datasets_for_All_Projects')
#     TOPIC_CODE_NOTES_DATASETS=os.path.join(BASE_PATH_TO_DATASETS,'Individual_Topics_Code_Notes')
    KAGGLE_DATASET_PATH=os.path.join(BASE_PATH_TO_DATASETS,'Kaggle Datasets')
    WALMART_DATASET_PATH=os.path.join(KAGGLE_DATASET_PATH,'walmart-recruiting-trip-type-classification')
elif platform.system().lower().__contains__('linux'):
    BASE_PATH_TO_CODE_REPOSITORY=(os.sep).join(os.getcwd().split(os.sep)[:os.getcwd().split(os.sep).index('Code Repository')+1])
    BASE_PATH_TO_DATASETS=os.path.join(BASE_PATH_TO_CODE_REPOSITORY,'External_Datasets_for_All_Projects')
#     TOPIC_CODE_NOTES_DATASETS=os.path.join(BASE_PATH_TO_DATASETS,'Individual_Topics_Code_Notes')
    KAGGLE_DATASET_PATH=os.path.join(BASE_PATH_TO_DATASETS,'Kaggle Datasets')
    WALMART_DATASET_PATH=os.path.join(KAGGLE_DATASET_PATH,'walmart-recruiting-trip-type-classification')
else:
    print('OS Error')

In [16]:
CURRENT_DATASET_PATH=os.path.join(WALMART_DATASET_PATH,'train.csv')
os.listdir(WALMART_DATASET_PATH)

['sample_submission.csv', 'train.csv']

In [28]:
current_dataset=pd.read_csv(CURRENT_DATASET_PATH)
current_dataset.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [29]:
current_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647054 entries, 0 to 647053
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   TripType               647054 non-null  int64
 1   VisitNumber            647054 non-null  int64
 2   Weekday                647054 non-null  object
 3   Upc                    642925 non-null  float64
 4   ScanCount              647054 non-null  int64
 5   DepartmentDescription  645693 non-null  object
 6   FinelineNumber         642925 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 34.6+ MB

In [30]:
current_dataset['DepartmentDescription']=current_dataset['DepartmentDescription'].astype('str')

In [31]:
# Assigning a reference to a running D-Tale process.
d = dtale.show(current_dataset)

In [33]:
d